@page "/"

@using Mobile_Field_App.Data
@inject AuthenticationManager AuthenticationService
@inject NavigationManager NavigationManager

@code{
	protected override async Task OnInitializedAsync()
	{
		if (await AuthenticationService.HasGrantInStorage() && await AuthenticationService.ConfirmGrantInStorage())
		{

		}
		else
		{
			NavigationManager.NavigateTo("/login");
		}
	}

	private string Name{
		get{
			return AuthenticationService.userData.HasValue ? AuthenticationService.userData.Value.GetProperty("email").GetString() : "Unknown";
		}
	}
}

<div style="width=100vw">

<img src="img/appicon.svg" width="100%"/>

<h4>Welcome to the Field Portal</h4>
<p>@Name</p>

</div>

<SurveyPrompt Title="How is Blazor working for you?" />
