@using Mobile_Field_App.Data
@inject AuthenticationManager AuthenticationService
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">PMY Field Portal</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="counter">
				<span class="oi oi-plus" aria-hidden="true"></span> Counter
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" onclick="@LogOut">
				<span class="oi oi-account-logout" aria-hidden="true"></span> Log Out
			</NavLink>
		</div>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private async void LogOut(){
		if (await AuthenticationService.LogOut()){
			NavigationManager.NavigateTo("/login");
		}
	}

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
